
* {
margin: 10px; 
padding: 5px;
font-weight: bold;
}

#calc {
    display: flex;
    flex-wrap: wrap;
}

#add {
    background-color: rgb(84, 84, 187);
    
}

#sub {
    background-color: blueviolet;
}

#multiply {
    background-color: crimson;
}


